$primary_color: #5ba4a4;
$back_color: #effafa;
$filter_table_color: #eef6f6;
$dark_color: #7b8e8e;
$very_dark_color: #2c3a3a;
$font_size: 16px;
$font_size_big: 20px;
$gray_color: #7c7c7c;

$width_desktop: 1440px;
$width_mobile: 375px;

$width_card: 70vw;