.filter{
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: -50px;
  min-height: 10vh;
  
  &--bar{
    @include card_style;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  }

  &--link-clear{
    color: $primary_color;
    text-decoration: underline;
    font-weight: 700;
    cursor: pointer;
  }

  @include tags_style($btn_delete: true);
  
}


@media (max-width: $width_mobile) {

  .filter{
  
    &--tags{
      flex-wrap: wrap;
      justify-content: flex-start;
  
      
      &--boxtag{
        font-size: $font_size_mb;
        margin: 5px;
      }
    
    }
  
  }

}