.list-item{
  @include card_style;
  margin-bottom: 30px;

  display: flex;
  flex-direction: row;
  font-size: $font_size;

  justify-content: space-between;

  &--border{
    border-left: 5px $primary_color solid;
  }

  &--img{}

  &--company-info{
    display: flex;
  }

  &--info{
    // border: solid;
    margin-left: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--company-name{
      color: $primary_color;
      font-weight: 700;

      // border: solid;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    @mixin badge-form {
      color: white;
      font-size: 12px;
      // font-weight: 500;
      padding: 7px 9px 3px 9px;
      border-radius: 20px;
      vertical-align: middle;
    }

    &--bagdes{
      display: flex;
      justify-content: center;
      margin-left: 20px;
    }

    &--bagde-primary{
      @include badge-form;
      background-color: $primary_color;
      margin-right: 10px;
    }
    
    &--bagde-black{
      @include badge-form;
      background-color: black;
    }

    &--job-title{
      font-weight: 700;
      font-size: $font_size_big;
    }

    &--footer{
      color: $gray_color;
      display: flex;
      align-items: center;

      li{
        margin-left: 10px;
      }
    }

  }

  @include tags_style($btn_delete: false);

}
